# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/
.venv/

# VSCode
.vscode/

# OS
.DS_Store

# Test/coverage
.coverage
htmlcov/
*.cover

# Build
build/
dist/
*.egg-info/

# Test Files
examples/tmp.py
debug/

# Work in progress
examples/Generative Gestaltung